{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block head %}
    {{ block.super }}
    <link href='https://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
{% endblock head %}

{% block content %}

<div id="start-panel" class="center-block start-panel">

    <ul id="login-nav" class="nav nav-pills">
        <li role="presentation" class="active">
            <a href="#login" aria-controls="login" role="tab" data-toggle="tab">{% trans "Login" %}</a>
        </li>
        <li role="presentation">
            <a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">{% trans "Signup" %}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="login">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% include "account/tabs/login.html" %}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="signup">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% include "account/tabs/signup.html" %}
                </div>
            </div>
        </div>
    </div>



</div>
{% endblock %}
