{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h1>{% trans "Document list" %}</h1>
<div class="list-group">
    {% for document in documents %}
        {# Each "contact" is a Contact model object. #}
        <a class="list-group-item" href="{% url "document:document" document.url_id %}">
            {{ document.name}}</a>
    {% endfor %}
</div>

<div class="pagination">
    <ul class="pager">
        <li class="previous {% if not documents.has_previous %}disabled{% endif %}">
            <a href="?page={{ previous }}">
                <span aria-hidden="true">&larr;</span>{% trans "Previous" %}</a>
        </li>

        <span class="current">
            {% blocktrans with number=documents.number num_pages=documents.paginator.num_pages %}
            Page {{ number }} of {{ num_pages }}.
            {% endblocktrans %}
        </span>

        <li class="next {% if not documents.has_next %}disabled{% endif %}">
            <a href="?page={{ next }}">
                <span aria-hidden="true">&rarr;</span>{% trans "Next" %}
            </a>
        </li>
    </ul>
</div>
{% endblock content %}
