{% extends "base.html" %}
{% load excel %}
{% load static %}
{% load i18n %}
{% block head %}
    {{ block.super }}
    {% css document %}
{% endblock head %}

{% block navbar-brand %}{{ document.name }}{% endblock %}
{% block navbar-text %}
    <p class="navbar-text">{% trans "Status: " %}{{ document.get_status_display}}</p>
{% endblock navbar-text %}

{% block navbar-items-left %}
    {% if perms.excel_import.change_document %}
        <li><a href="{% url "document:edit" document.url_id %}">{% trans "Edit" %}</a></li>
    {% endif %}
    <li><a href="{% url "document:download" document.url_id %}">{% trans "Download" %}</a></li>
    {{ block.super }}
{% endblock navbar-items-left %}

{% block content %}

<table id="cell-table" class="table-bordered table-responsive">
    {% for cell in cells %}
        {% if cell.first_cell %}<tr>{% endif %}
        <td data-id="{{ cell.id }}" {{ cell.attributes }}
            class="{{ cell.class_tags }}
            {% if cell.id in changes %}changed{% endif %}"
                        data-container="body" title="{% trans "Request change" %}"
                        data-toggle="popover" data-trigger="manual" >
            <span class="value">{{ cell.value }}</span>
            {% if cell.id in pending_requests %}<span class="label label-info request">Request</span> {% endif %}
        </td>
        {% if cell.last_cell %}</tr>{% endif %}
    {% endfor %}
</table>
{% endblock content %}