{% extends "base.html" %}
{% load i18n %}
{% load addcss %}
{% block content %}

<div id="start-panel" class="center-block start-panel">
    <h1>{% trans "Edit document" %}</h1>

    <h2>{% trans "Change document file" %}</h2>
    {% trans "Update file" as button_title%}
    {% include "frontend/snippets/form.html" with form=file_form %}
    <div id="detail_div">
        <h2>{% trans "Change details" %}</h2>
        {% trans "Save" as button_title%}
        {% include "frontend/snippets/form.html" with form=detail_form%}
    </div>

</div>
{% endblock content %}
