{% extends "base.html" %}
{% load excel %}
{% load static %}
{% load i18n %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <script
          src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
          crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="{% static "functions.js" %}"></script>
    <link rel="stylesheet" href="{% static "style.css" %}">
    {% css document %}
{% endblock head %}

{% block content %}
<table id="cell-table" class="table-bordered table-responsive">
    {% for cell in cells %}
        {% if cell.first_cell %}<tr>{% endif %}
        <td data-id="{{ cell.id }}" {{ cell.attributes }}
            class="{{ cell.class_tags }}
            {% if cell.id in changes %}changed{% endif %}"
                        data-container="body" title="{% trans "Request change" %}"
                        data-toggle="popover" data-trigger="manual" >
            {{ cell.value }}
            {% if cell.id in pending_requests %}<span class="label label-info request">Request</span> {% endif %}
        </td>
        {% if cell.last_cell %}</tr>{% endif %}
    {% endfor %}
</table>
{% endblock content %}