{% extends "base.html" %}
{% load excel %}
{% load static %}
{% load i18n %}
{% block head %}
    {{ block.super }}
    {% css document %}
{% endblock head %}

{% block content %}
<table id="cell-table" class="table-bordered table-responsive">
    {% for cell in cells %}
        {% if cell.first_cell %}<tr>{% endif %}
        <td data-id="{{ cell.id }}" {{ cell.attributes }}
            class="{{ cell.class_tags }}
            {% if cell.id in changes %}changed{% endif %}"
                        data-container="body" title="{% trans "Request change" %}"
                        data-toggle="popover" data-trigger="manual" >
            {{ cell.value }}
            {% if cell.id in pending_requests %}<span class="label label-info request">Request</span> {% endif %}
        </td>
        {% if cell.last_cell %}</tr>{% endif %}
    {% endfor %}
</table>
{% endblock content %}