{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h1>{% trans "Welcome" %}</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans "Menu" %}</h2>
        </div>
        <div class="panel-body">
            <nav>
                <ul class="nav nav-pill nav-stacked">
                    <li role="presentation">
                        <a href="{% url 'document:list' %}"> {% trans "List documents" %} </a>
                    </li>
                    {% if perms.excel_import.add_document %}
                        <li>
                            <a href="{% url 'document:create' %}"> {% trans "Upload" %} </a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'user:settings' %}">{% trans "My Account" %}</a>
                    </li>
                    <div class="horizontal-spacer"></div>
                    <li>
                        <a href="{% url 'account_logout' %}" >{% trans "Logout" %}</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


{% endblock content %}