#cell-table td:hover {
    background-color: lightsteelblue;
}

#cell-table td {
    padding-left: 5px;
    padding-right: 5px;
    width:75px;
}

#cell-table {
    white-space: nowrap;
}

.popover {
    min-width: 225px;
}
.popover button.visible-xs {
    width: 100%;
}

.pending-requests {
    text-align: left;
}
.request-info {
    color: #737373;
    font-size: 12px;
}

.request {
    z-index: 1;
    position: absolute;
    display: none;
    opacity: 0.9;
}

.changed {
    background-color: red !important;
}

ul.socialaccount_providers {
    list-style-type: None;
}

a.facebook {
    -moz-user-select: none;
    background: #2A49A5;
    border: 1px solid #082783;
    box-shadow: 0 1px #4C6BC7 inset;
    color: white;
    padding: 7px 20px;
    text-decoration: none;
    text-shadow: 0 -1px 0 #082783;
    font: 14px Verdana, sans-serif;
    font-weight: bold;
}

.horizontal-spacer {
    border-bottom: 2px solid #EEE;
    text-align: center;
}

.bottom-margin {
    margin-bottom: 15px;
}

.top-margin {
    margin-top: 15px;
}

.alert {
    padding: 8px;
    margin-bottom: 3px;
}

.alert-dismissible {
    padding-right: 35px;
}
#messages{
    position: fixed;
    width: 80%;
    align-self: center;
    top: 55px;
    left: 10%;
    opacity: 0.9;
    z-index: 1050;
}
